:root {
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6,
ul,ol,dd,
p,figure,
table,fieldset,hr {
  margin-bottom: $base-pad;
}

.headline,
h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-family: $inter;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: $base-pad;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: $base-pad;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: $base-pad;
}

h1, h2, h3 {
  font-weight: bold;
}

body {
  font-size: 1.8rem;
}

label {
  font-size: 1.4rem;
}

.question-type {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 6%;
}