.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 1.4rem;
  margin: 1rem;
  transition: all 200ms ease-in-out;

  /* &:hover {
    transform: scale(1.1);
  } */
}

.button.primary {
  color: $white;
  background-color: $indigo-500;
  border: 2px solid $indigo-500;

  &:hover {
    background-color: $indigo-900;
    border-color: $indigo-900;
  }
}

.button.secondary {
  color: $indigo-500;
  border: 2px solid $indigo-500;

  &:hover {
    color: $indigo-800;
    border-color: $indigo-800;
  }
}

.button.circle {
  border-radius: 50%;
  padding: 1.2rem;
  aspect-ratio: 1 / 1;
  width: fit-content;
}

.button.circle.light {
  background-color: $indigo-200;
}

.button.circle.green {
  background-color: $green;
}

.button.circle.red {
  background-color: $red;
}

.button.circle.white {
  background-color: $white;
}