.cards-wrapper {
  flex-direction: row;
  gap: 2rem;
}

.card {
  border-radius: 1.4rem;
  padding: 2rem;
  max-width: 32rem;
  min-height: 48rem;
  justify-content: space-between;
  
  * {
    color: white;
  }

  margin-bottom: 2rem;

  .button {
    margin: 0;
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  h3 {
    line-height: 1.3;
    margin-top: 2rem;
  }
}

.card.indigo {
  background-color: $indigo-400;
}

.card.orange {
  background-color: $orange-500;
}

.card.stack {
  border-radius: 2rem;
  padding-bottom: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 25rem;
  min-height: 14rem;

  span {
    font-size: 2rem;
  }

  h3 {
    align-self: end;
    margin: 0;
  }

  .edit-link {
    justify-self: end;
  }

  .play-link {
    place-self: end end;
    margin: 0;

    svg {
      transform: translateX(2px);
    }
  }
}

.card.question {

  .type-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0 1rem;
    }
  }

  .left, .right {
    flex-grow: 1;
    height: 1px;
    width: auto;
    background-color: $white;
  }
}

.card.answer {
  .action-buttons {
    justify-content: space-between;
  }
}