///// Font Imports /////

// Sans Serif
@font-face {
  font-family: 'Inter';
  src:  url('../fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('../fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}