// Devices
$medium-screen: 1080px;
$tablet-screen: 768px;
$mobile-screen: 480px;

// Type Systems
$inter: 'Inter', sans-serif;

// Primary Colors
$indigo-400: #818CF8;
$orange-500: #FFA360;

// Accent Colors
$indigo-200: #C7D2FE;
$indigo-300: #A5B4FC;
$indigo-500: #6366F1;
$indigo-700: #4338CA;
$indigo-800: #3730A3;
$indigo-900: #312E81;
$green: #82E0AA;
$red: #F1948A;
$white: #FFF;
$black: #000;

// Base Fonts
$base-font-size: 18px;
$base-line-height: 1.6;
$base-font-color: $black;

// Headline Fonts
$headline-line-height: 1.3;
$headline-font-color: darken($base-font-color, 10%);

// Padding
$large-pad: 1.5rem;
$base-pad: 1rem;
$small-pad: $large-pad / 2; //0.75rem